body{
    background-image: url(images/history.webp);
    background-size: cover;
    color: rgb(112, 114, 194);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div{
    width: 300px;
    height: 300px;
    margin: 30px auto;
    border: rgb(13, 13, 26) solid 3px;
    border-radius: 10px;
}
div:hover{
    width: 600px;
    height:600px;
    
    background-image: url("images/WhatsApp\ Image\ 2025-11-29\ at\ 17.25.11_b46fe852.jpg");
    
}