body{ 
    display: flex;
    flex-direction: column;
    text-align: center;
  
    background-image: url("images/200\ \(1\).webp");
    background-size: cover;
}


#meaning{
     margin: 50px auto 0; 
     font-size: medium;
     font-weight: bold;
     color: rgba(197, 195, 165, 0.726);
    
}