body{
    background-image: url("images/whish.jpeg");
    background-size: cover;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(171, 154, 189);

}
p{
    display: flex;
   text-align: center;
    font-size: larger;
    text-shadow: 2px 0 3px blueviolet;
}
    img{
        margin: 20px 80% 20px 10px ;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    img:hover{
        transform: rotate(360deg);
        
       transition: 0.3s;
    }